<?xml version="1.0"?>
<config>
  <modules>
    <Multidiscount_Couponcode>
      <version>0.1.0</version>
    </Multidiscount_Couponcode>
  </modules>
  <global>
    <blocks>
      <couponcode>
          <class>Multidiscount_Couponcode_Block</class>
      </couponcode>
    </blocks>
    <models>
      <couponcode>
          <class>Multidiscount_Couponcode_Model</class>
      </couponcode>
      <salesrule>
        <rewrite>
          <validator>Multidiscount_Couponcode_Model_SalesRule_Validator</validator>
        </rewrite>
      </salesrule>         
    </models>
    <helpers>
      <couponcode>
        <class>Multidiscount_Couponcode_Helper</class>
      </couponcode>
    </helpers>
    <resources>
    <couponcode_setup>
    <setup>
      <module>Multidiscount_Couponcode</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
    </couponcode_setup>
    <couponcode_write>
    <connection>
      <use>core_write</use>
    </connection>
    </couponcode_write>
    <couponcode_read>
    <connection>
      <use>core_read</use>
    </connection>
    </couponcode_read>
  </resources>
  </global>
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Multidiscount_Couponcode_Adminhtml before="Mage_Adminhtml">Multidiscount_Couponcode_Adminhtml</Multidiscount_Couponcode_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
  <adminhtml>
        <events>    
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <multidiscount>
                        <type>model</type>
                        <class>couponcode/observer</class>
                        <method>addOptionToDropdown</method>
                    </multidiscount>
                </observers>
               </adminhtml_block_salesrule_actions_prepareform>
        </events>
    </adminhtml>
</config> 